################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/coolstr/Debug
/coolstr/tests/Debug
